/* ------  css-demo --------*/

/*  ---- Color Scheme ---- 
Main Color - #DC9CFF


*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }



body{
    background-color: rgb(122, 83, 189);
    font-family: "Playfair Display", serif;
    margin:0; 
}

main{
    background-color: plum ;
    width: 60vw;
    margin:auto;
}

header.primary{
    background-color: #C14FFF ;
    color:#ffffff;
    text-align: center;
    text-shadow: 2px 2px 20px #000000;
     /*long form*/
     padding-top: 40px;
     padding-right: 40px;
     padding-bottom: 40px;
     padding-left: 40px;
     /*Single value short hand*/
     padding: 40px;
     /* T,R,B,L */
     padding: 20px 40px 20px 40px;
     /* Two Value Top/Bottom / L/R */
     padding: 20px 40px;
}

header.primary h1{
font-size: 2.4rem;
margin:20px 0 0;
}

header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.3rem;
  margin:0;
}

header.primary nav {}
header.primary nav ul {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:10px 0;
}
header.primary nav ul li{
  list-style-type:none;
}
header.primary nav ul li a{
  color:#ffffff;
  font-size:.9rem;
  text-decoration:none;
  border:1px solid #c0c0c0;
  padding: 7.5px 10px;
  background-color: rgba(0,0,0, .4);
  border-radius:20px;
  transition:.4s;
}

header.primary nav ul li a:hover{
  background-color: rgba(0,0,0, .8);
}





/* --------- Media Queries ----------- */

@media screen and (max-width: 860px){
  
  header.primary nav ul{
    flex-direction:column;
    gap:10px;
    max-width:200px;
    margin:10px auto;
  }  
    
    header.primary nav a{
      display:block;
    }  
    
    
    
    
    
  }