/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  --------------- Utility Classes -----------------  */

body {
    font-family: "Libre Baskerville", serif;
    margin: 0;
    background-color: rgb(254, 252, 255);
}




header.primary nav {
    max-width: 960px;
    margin:auto;
  }
  
  header.primary nav ul {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:10px 0;
  
  }
  header.primary nav ul li{
    list-style-type:none;
  }
  header.primary nav ul li a{
    color:#ffffff;
    font-size:.9rem;
    text-decoration:none;
    border:1px solid #c0c0c0;
    padding: 7.5px 30px;
    background-color: rgba(0,0,0, .4);
    border-radius:20px;
    transition:.4s;
  }
  
  header.primary nav ul li a:hover{
    background-color: rgba(0,0,0, .8);
  }

  header.primary{
    color:#ffffff;
    text-align: center;
    text-shadow: 2px 2px 20px #000000;
    }

.header {
    position:relative;
    text-align:center;
    background-image: url("https://img.freepik.com/free-photo/purple-shade-smoke-starry-night-stars_23-2148227253.jpg")
}
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: rgb(254, 250, 254);
  }
  
  /* Animation */

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }